<%- include('./partials/head') %>

<body class="home-body">
    <%- include('./partials/alert') %>
    <div class="container home-container">
        <%- include('./partials/top-nav') %>
        <div class="row h-100 no-gutter home-row">
            <div class="col-md-2 side-nav-col">
                <%- include('./partials/side-nav') %>
            </div>
            <div class="col-md-10 main-content-col">
                <div class="container main-content-container">
                    <div class="row home-top">
                        <div class="col-md-6 home-top-left">
                            <h3>Bugs Assigned To Me</h3>
                        </div>
                        <div class="col-md-6 home-top-right">
                            <h3>Bugs Created Today</h3>
                        </div>
                    </div>
                    <div class="row home-bottom">
                        <div class="col-md-6 home-bottom-left">
                            <h3>Resolved Bugs</h3>
                        </div>
                        <div class="col-md-6 home-bottom-right">
                            <h3>Unassigned Bugs</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>